<div class="new-post-block">
    <h2 id="editor-title"></h2>
    <form id="post-form">
        <ul class="title-author">
            <li class="single-element-form">
                <h1 class="title-form">Blog Post Title:</h1>
                <input type="text" value="" placeholder="Title" id="title"/>
            </li>
            <li class="single-element-form">
                <h1 class="title-form">Author:</h1>
                <input type="text" value="" placeholder="Author" id="author" disabled>
            </li>
        </ul>

        <h1 class="title-form">Content:</h1>
        <textarea class="content-field" placeholder="Content" id="content"></textarea>
        <br>
        <button type="button" id="create-comment-request-button">Send</button>
    </form>
</div>
<div class="title">Customer Support Center
    Whether you’re looking for answers, would like to solve a problem, or just want to let us know how we did, you’ll find many ways to contact us right here. We’ll help you resolve your issues quickly and easily, getting you back to more important things, like relaxing on your new sofa. </div>
<footer>
    <p class="footer-text">&copy; Software University Foundation, No Rights Reserved</p>
</footer>